## Introduction to Python Exercises

Before you turn this problem in, make sure everything runs as expected. First, restart the kernel (in the menubar, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).  You can speak with others regarding the assignment but all work must be your own. 


### This is a 30 point assignment graded from answers to questions and automated tests that should be run at the bottom. Be sure to clearly label all of your answers and commit final tests at the end. If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation. (Note, not all questions have tests).

In [1]:
NAME = "Yichuan Wang"
COLLABORATORS = ["None"]  #You can speak with others regarding the assignment, but all typed work must be your own.

In [2]:
# If you have trouble loading your unittests below, 
#!conda config --add channels conda-forge

In [3]:
#!conda install --yes ipython_unittest

### This Loads a Testing Array 
- This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests. 
- **If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation.**

In [4]:
%load_ext ipython_unittest
#This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests.

## Exercises - For and If.

(1). Write a program which create a list called `fivetoten` of all numbers from 5 to 10 (inclusive).

In [5]:
fivetoten = [n for n in range(5,11)]
fivetoten

[5, 6, 7, 8, 9, 10]

(2). Write a program which uses a for loop and if statements to create a list called `divby7` of all numbers from 1-50 that are divisible by 7.
Hint: 14 is divisible by 7 if 14%7==0.

In [6]:
divby7 = [i for i in range(1,50) if i%7==0]

divby7

[7, 14, 21, 28, 35, 42, 49]

(3). Write a program which uses a for loop and if statements create a list `divby7not5` of all numbers which are divisible by 7 but are not a multiple of 5, between 10000 and 10100 (both included).

In [7]:
divby7not5 = [i for i in range(10000,10100) if i%7==0 and i%5>0]

divby7not5

[10003, 10017, 10024, 10031, 10038, 10052, 10059, 10066, 10073, 10087, 10094]

## Exercises - Functions

(4). Create a function `divby2` that accepts a list and returns all values from that list that are divisible by 2.  For example, passing the list  `numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]` should return a list. Generate a new list `divby2` that includes only numbers that are divisible by 2.

In [8]:
def divby2(x):
    '''Create a function divby2 that accepts a list and returns all values from that list that are divisible by 2. '''
    divby2 = [i for i in x if i%2==0]
    return divby2

In [9]:
#Execute this code to assign divby2 to the correct values. 
numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]
divby2=divby2(numbers)
print(divby2)

[12, 34, 54, 34, 34, 54]

(5) Create an external module for your `divby2` function called `myutilities.py`.  Import myutilities as mu, such that that following runs.

In [10]:
#After importing this should work. (Feel free to add code to reimport)
import myutilities as mu
divby2mod=mu.divby2(numbers)

## Exercises-Titanic

The following exercises will use the titanic data from Kaggle.  I've included it in the input folder just like Kaggle.

In [11]:
import numpy as np 
import pandas as pd 

# Input data files are available in the "../input/" directory.
# Let's input them into a Pandas DataFrame
train = pd.read_csv("../input/train.csv")
test  = pd.read_csv("../input/test.csv")



(6). While we can submit our answer to Kaggle to see how it will perform, we can also utilize our test data to assess accuracy. Accuracy is the percentage of predictions made correctly-i.e., the percentage of people in which our prediction regarding their survival. <br>Create columns in the training dataset `PredEveryoneDies` and `PredGender` with the same predictions which were included in the example notebook (06-intro-kaggle-baseline in the materials repository).

In [12]:
train['Sex'].isnull().sum()

0

In [13]:
train['Sex'].isnull
train['PredEveryoneDies'] = 0
train['PredGender'] = 0
train.loc[train['Sex']=='female','PredGender'] = 1
train.PredEveryoneDies.astype(int)
train.PredGender.astype(int)
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PredEveryoneDies,PredGender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0

(7) Create variables `AccEveryoneDies` and `AccGender` using a calculation of accuracy of predictions for the `training` dataset.

In [14]:

AccEveryoneDies = (train['PredEveryoneDies']==train['Survived']).mean()*100
AccGender = (train['PredGender']==train['Survived']).mean()*100

(8). Notice how we are utilizing the code to select out the `passengerID` and the `Survived` column and generating a submission file over and over? This is in need of a function.  Create a `generate_submission` function that accepts a DataFrame, a target column, and a filename and writes out the submission file with just the `passengerID` and the `Survived` columns, where the survived column is equal to the target column. It should then return a DataFrame with the `passengerID` and the `Survived` columns.

Executeing the following:
`submitdie = generate_submission(train, 'PredEveryoneDies', 'submiteveryonedies.csv')`

Should return a dataframe with just `passengerID` and the `Survived` column.

In [15]:
def generate_submission(df,col,file):
    df2 = df.loc[:,['PassengerId',col]]
    df2.rename(columns={col: 'Survived'}, inplace=True)
    df2.to_csv(file,index=False)   
    return df2
    
submitdie = generate_submission(train, 'PredEveryoneDies', 'submiteveryonedies.csv')


(9). In accordance to the [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) protocol, we hypothesize that our model could be improved by including whether the individual was a child in addition to gender.  *After* coding survival based on gender, update your recommendation to prediction in the training dataset survival based on age. <br> <br>

In other words, your model should predict that a male child would survive.  

`train['PredGenderAge13']` should be the prediction incorporating both Gender and whether Age <  13.
`train['PredGenderAge18']` should be the prediction incorporating both Gender and whether Age <  18.
`AccGenderAge13` should be the accuracy of the age prediction, based on `train['PredGenderAge13']`. 
`AccGenderAge18` should be the accuracy of the age prediction, based on `train['PredGenderAge18']`.

In [16]:
train['PredGenderAge13'] = train['PredGender']
train.loc[train['Age']<13,'PredGenderAge13']=1
train['PredGenderAge18'] = train['PredGender']
train.loc[train['Age']<18,'PredGenderAge18']=1
AccGenderAge13 = (train['PredGenderAge13']==train['Survived']).mean()*100
AccGenderAge18 = (train['PredGenderAge18']==train['Survived']).mean()*100

(10). Create a prediction file for the "women and children first" model in column` PredGenderAge13` and upload it to Kaggle.  Take a screen shot of your position. Put that screenshot in this repository and use markdown to show your results in the cell below.  The syntax for including a markdown picture is shown below.  

```
![]myscreenshot.png
```

![PredGenderAge13](PredGenderAge13.png)

In [17]:
test['PredGenderAge13'] = 0;
test.loc[test['Sex']=='female','PredGenderAge13'] = 1
test.loc[test['Age']<13,'PredGenderAge13'] = 1
test.PredGenderAge13.astype(int)
PGA13 = generate_submission(test,'PredGenderAge13',"PredGenderAge13.csv")

(11). You should find that the AccGenderAge13 is better than AccGenderAge18. Create a new column `child` in the test and train DataFrames that is 1 if Age <  13 and 0 otherwise.  This is a *feature*.  We will talk more about features next time.

In [18]:
train['child'] = 0
train.loc[train['Age']<13,'child'] = 1
test['child'] = 0
test.loc[test['Age']<13,'child'] = 1

In [19]:
%%unittest_main
class TestExercise3(unittest.TestCase):
    def test_forif1(self):
        self.assertTrue(fivetoten == [5,6,7,8,9,10])
    def test_forif2(self):
        self.assertTrue(divby7 == [7,14,21,28,35,42,49])
    def test_forif(self):
        self.assertTrue(divby7not5 == [10003, 10017, 10024, 10031, 10038, 10052, 10059, 10066, 10073, 10087, 10094])
    def test_functions(self):
        self.assertTrue(divby2 == [12, 34, 54, 34, 34, 54])
    def test_functions(self):
        self.assertTrue(divby2mod == [12, 34, 54, 34, 34, 54])
    def test_titanic1(self):
        self.assertAlmostEqual(AccEveryoneDies, 61.6161616162)
    def test_titanic2(self):
        self.assertAlmostEqual(AccGender, 78.6756453423)
    def test_titanic3(self):
        self.assertAlmostEqual(train['PredEveryoneDies'].mean(), 0.0)
    def test_titanic4(self):
        self.assertAlmostEqual(train['PredGender'].mean(), 0.35241301908)
    def test_titanic5(self):
        self.assertTrue(['PassengerId', 'Survived']==list(pd.read_csv('submiteveryonedies.csv').columns.values))
    def test_titanic6(self):
        self.assertAlmostEqual(train['PredGenderAge13'].mean(), 0.393939393939)
    def test_titanic7(self):
        self.assertAlmostEqual(train['PredGenderAge18'].mean(), 0.417508417508)
    def test_titanic8(self):
        self.assertAlmostEqual(AccGenderAge13, 79.2368125701)
    def test_titanic9(self):
        self.assertAlmostEqual(AccGenderAge18, 77.3288439955)
    def test_titanic10(self):
        self.assertTrue(train['child'].sum()==69)
    def test_titanic11(self):
        self.assertTrue(test['child'].sum()==25)

Success

...............
----------------------------------------------------------------------
Ran 15 tests in 0.003s

OK

In [20]:
#This is a collection of all of the tests from the exercises above.

<unittest.runner.TextTestResult run=15 errors=0 failures=0>